


:root{
    --theme-color: #60d4e3;
    --home-theme: #00cdfb;
    --theme-one: #fa8fc1;
    --theme-two: #99754566;
    --primary-color: #231d70;
    --section-bg: #231d70;
    --section-bg-two: #fff9f5;
    --button-color: #0d4bbc;
    --secoundary-color: #1e19cf;
    --secoundary-one: #2f16;
    --white-color: #fff;
    --black-color: #090303;
    --ratting-color: #ffd247;
}